.section-inner {
    max-width: 1300px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.btn{
    width: 180px;
    height: 55px;
    font-size: 12pt;
    background-color: #10c9c3;
    color: #fff;
    border: none;
    outline: none;
}

.text-title{
    font-size: 30pt;
    padding-bottom: 40px;

}

.text-subtitle{
    font-size: 16pt;
    max-width: 630px; 
    text-align: center; 
    padding-bottom: 40px;
    color: #787878;  
}

ul{
    list-style: none;
}