.section-skills{
    background-color: #f8f9f9;
    background-image: url("../img/skills_img.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right bottom 10%;
    height: 570px;
    display: flex;


    & .section-inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;

    }

    &_progress{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-grow: 1;
        max-width: 50%;
        
        &-bar{
            width: 80%;
            & dt{
                margin-bottom: 40px;
            }
        
            &-title{
                font-size: 16pt;
                margin-bottom: 20px;
            }
        
            &-container{
                background-color: #d8d8d8;
                width: 100%;
                height: 3px;
            }
        
            &-content{
                background-color: #10c9c3;
                height: 3px;
            }
        }
    }

    @media (max-width: 700px){
        &_progress {
            align-items: center;
            max-width: 100%;
        }
    }
}